body{
	padding: 20px;
	font-family: 'Lato', sans-serif;
	overflow-x:hidden;
}
.output{ 
	color: #888; 
	font-size: 14px; 
	padding-top: 1px; 
	margin-left: 5px; 
	vertical-align: top;
}

.result0 {
	margin-top: 15px;
	color: blue;
}
.result1 {
	margin-top: 20px;
	color: red;
}


.legend table {
	border-spacing: 5px;
}

input[type=range]{
	width: 300px;
}

#sliders th{
	text-align: right;
}
#sliders td{
	min-width: 50px;
}